h1, h2 {
    color:  red;
    text-align: center;

}
  body{
      background-color: white;
      text-align: justify;
}

body p{
  padding-left: -left: 2.5%;
  padding-right: 2.5%;
}
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 95%;
}

#list {
    font-weight: bold;
    font-family: sans-serif;
}
